/*GLOBAL*/
body{
    background-color: #bcd9ea;
}

main{
    background-color: #d3dde1;
    
}

/*Utilities*/
.img img{
    max-width: 100%;
    max-height: 200px;
    margin: 0 auto;
    object-fit: cover;
    overflow: hidden;
    height: 100px;   
}
.img{
    position: fixed;
    max-width: 100%;
    margin-left:80%;
    max-height: 200px;
    min-height: 200px;
}
.alertError{
    background-color: rgb(207, 120, 120);
    border: 2px solid red;
}

/*MAIN*/
.info{
    display: flex;
    justify-content: space-between;   
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    
}
.pet{
    border: 1px solid black;
    background-color: antiquewhite;
    padding: 10px;

}
#namePet{
    display: grid;
    grid-template-columns: repeat(3,33%);
    margin:20px;
    column-gap: 10px;
    row-gap: 10px;
}
@media(max-width:700px){
    #namePet{
        grid-template-columns: repeat(2,48%); 
    }
}

#summary{
    position: fixed;
    height: 150px;
    width: 200px;
    background-image: radial-gradient( white, 	#bcd5e4, 	#bcd9ea);
    height: 300px;
    width: 300px;
    
}
div{
    position: relative;
}